html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
main,
#sidebar {
  box-sizing: border-box;
}
#sidebar {
  display: flex;
  flex-direction: column;
}
#sidebar {
  padding: 0 2.5em;
}

a {
  text-decoration: none;
}
body,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

/* Card */

#sidebar header h1 {
  font-size: 2.4em;
}

/* Navigation panel */
nav {
  padding-bottom: 3em;
}
nav h4 {
  margin-bottom: 0.2em;
}
nav p {
  line-height: 1.5;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav li:after {
  content: " •";
  opacity: 0.5;
  margin: 0px 0.3em;
}
nav li:last-child:after {
  content: "";
  opacity: 1;
  margin: 0;
}
nav a {
  padding-left: 7px;
}

/* Main panel */

main header {
  overflow: auto;
  padding: 0 3em 3em 3em;
}
main header h2 {
  margin-top: 1.5em;
}
main header p {
  margin-top: 1.8em;
  margin-bottom: 0;
}

main > section {
  margin: 6em auto;
  padding: 0 3em;
}
section .link {
  cursor: pointer;
  display: table;
  margin-right: 1em;
  padding: 0px 14px 6px 14px;
  width: 100px;
}

/* Highlight.js */

.hljs {
  font: normal 10pt Consolas, Monaco, monospace;
  line-height: 1.5;
  padding: 3em 0 5em 3em;
}

pre {
  margin: 0;
}

/* Media Queries */

@media (min-width: 1200px), (max-width: 360px) {
  nav li {
    width: 100%;
  }
  nav li:after {
    content: none;
  }
  nav a {
    display: block;
    padding: 2px 0 2px 15px;
  }
}

@media (min-width: 1200px) {
  body {
    flex-direction: row;
    height: 100%;
    overflow: hidden;
  }
  main,
  #sidebar {
    height: 100%;
    overflow-y: auto;
  }
  main {
    flex: 1 0 0px;
  }
  #sidebar {
    flex: 0 0 330px;
  }
}

/* Colors */

a {
  color: #177fd6;
}
nav a:hover {
  color: #a131c2;
}

.hljs-title {
  color: #177fd6;
}
.hljs-keyword {
  color: #a131c2;
}

section .link {
  color: #61aeee;
}
section .link:hover {
  color: #c678dd;
}

#sidebar {
  color: #555;
}

#sidebar header h1 a,
#sidebar h2,
#sidebar h3,
#sidebar h4 {
  color: black;
}

main {
  background-color: #333333;
}
main header {
  background-color: #f2f2f2;
  color: #333;
}
main section,
.font-color-0-0-0-255 {
  color: white !important;
}

.hljs {
  background-color: #f2f2f2;
}
